body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.top-menu {
    background-color: white;
    color: #007BFF;
    padding: 0px 0;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 5px 1px #090b6f85;
}

#login {
    padding :8px;
    background-color: #007BFF;
    color:white;
    border-radius:5px;
}

#link {
    position:relative;
    top:8px;
    font-size: 12px;
}
#link {
    color: #007BFF; 
    text-decoration: none; 
}

#link:visited {
    color: #007BFF; 
    text-decoration: none;
}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 20px;
}

ul.nav {
list-style: none;
padding: 0;
margin: 0;
}

ul.nav li {
display: inline;
margin-right: 20px;
}

ul.nav li:last-child {
margin-right: 0;
}

a.nav-link {
text-decoration: none;
color: #007BFF;
font-weight: bold;
transition: color 0.3s; 
}

a.nav-link:hover {
color: #ff6600; 
}

form {
    max-width: 320px;
    margin: 0 auto;
    margin-left: 235px;
    height: 380.5px; 
    margin-top: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 5px 1px #090b6f85;
}

.side-image {
    position: absolute;
    margin-top: 100px;
    width: 349px; 
    height: auto; 
    margin-right: 56px;
    right:200px;
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 5px 1px #090b6f85;
    
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inputs {
    margin-top:60px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 50px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#myForm{
    position: relative;
    top:40px;
}

h2 {
    text-align: center;
}
